body,html
{
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #eee;

}


html
{
	overflow: hidden;

}



ul,li
{
	list-style: none;
	margin:0;

}
header
{
	
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

header video
{
	width: 100%;
	/*height: 100%;*/
	

}


.cover 
{	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
	background-color: rgba(34,34,34,0.85);
}


.cover p
{
	width: 100%;
	/*height: 100%;*/
	margin:0 auto;
	margin-top: 25%;
	font-family: cursive;
	font-size: 20px;
	opacity: 0.8;
	
}

#article
{
	height: 100%;
	/*display: none;*/
}


ul
{
	padding: 0;
	position: relative;
	/*left: -24.5%;*/
}


.container
{
	max-width: 800px;
	margin:0 auto;
}


section 
{
	margin: 50px;
	color: #737373;
	font-size: 16px;
	line-height: 1.6em;
}

article
{
	padding-top:1%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


#footer
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#summary
{
	width: 100%;
	height: 80%;
	padding-top: 200px;
	box-sizing: border-box;
}

#wrap
{
	width: 80%;
	margin:0 auto;
}
#summary p
{
	line-height: 2.5em;
	text-align: center;
	margin-bottom: 30px;
	color: #737373;

}

#download
{
	width: 200px;
	height:60px;
	background-color: rgb(204, 170, 49);
	color: #fff;
	text-align: center;
	/*font-family: "微软雅黑";*/
	font-size: 20px;
	line-height: 60px;
	margin: 0 auto;
	box-shadow: 1px 1px 6px #666;
	border-radius: 3px;
}

#download:hover
{
	box-shadow: none;
}

#download a
{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	height: inherit;
}


#contact
{
	background-image: url(../media/footer.jpg);
	height:20%;
	position: relative;
}




#contact ul
{
	float: right;
	position: absolute;
	right: 50px;
	bottom: 20px;
}

#contact ul li
{
	display: inline-block;
	color: rgba(197, 197, 197, 0.83);
	margin-right: 20px;
	cursor: pointer;

}


#contact ul li a:hover
{
	color: rgb(226, 226, 226);
}

#contact .cover
{
	background-color: rgba(84, 84, 84, 0.85);
}


#changePage
{
	/*background-color: #fff;*/
	position: fixed;
	width: 3%;
	right: 1%;
	bottom: 50%;
	text-align: center;
	color: #fff;
	/*opacity: 0.5;*/
}

#changePage ul li a i
{
	color: rgb(150, 118, 2);

}



a:link,a:visited
{
	color: rgba(197, 197, 197, 0.83);
}





